<%- include("partials/htmltop"); -%>

<body class="MN-2 mobS hdMn bD onItm onPg" id="mainCont">

    <script>
        (localStorage.getItem('mode')) === 'darkmode' ? document.querySelector('#mainCont').classList.add('drK'):
            document.querySelector('#mainCont').classList.remove('drK')
    </script>

    <input class="prfI hidden" id="offPrf" type="checkbox">
    <input class="navI hidden" id="offNav" type="checkbox">
    <div class="mainWrp">

        <%- include("partials/header"); -%>
        <!--[ Content section ]-->
        <div class="mainIn">
            <!--[ Menu content ]-->
            <%- include("partials/widget/mobilemenucontent"); -%>
            <!--[ Blog content ]-->
            <div class="blogCont">
                <div class="secIn">

                    <%- include("partials/widget/notifcation"); -%>

                    <div class="blogAd">
                        <div class="section" id="horizontal-ad">
                            <div class="widget HTML" data-version="2" id="HTML91">
                                <div class="adB" data-text="Ads go here"></div>
                            </div>
                        </div>
                    </div>
                    <div class="blogM">


                        <main class="blogItm mainbar">
                            <div class="section" id="main-widget">
                                <div class="widget Blog" data-version="2" id="Blog1">
                                    <div class="blogPts">
                                        <article class="ntry ps post">
                                            <div class="brdCmb" itemscope="itemscope"
                                                itemtype="https://schema.org/BreadcrumbList">
                                                <div class="hm" itemprop="itemListElement" itemscope="itemscope"
                                                    itemtype="https://schema.org/ListItem">
                                                    <a href="https://learngraduation.blogspot.com/"
                                                        itemprop="item"><span itemprop="name">Home</span></a>
                                                    <meta content="1" itemprop="position">
                                                </div>
                                                <div class="tl" data-text="Compose"></div>
                                            </div>
                                            <h1 class="pTtl aTtl sml itm">
                                                <span>
                                                    Compose
                                                </span>
                                            </h1>
                                            <div class="pInr">
                                                <div class="pEnt" >
                                                    <div class="pS post-body postBody" id="postBody">
                                                        <form action="/submit" method="post">
                                                            <div class="form-group">
                                                                <label for="purl" charset="UTF-8">Post Url</label>
                                                                <input class="form-control" type="text" name="pUrl" placeholder="enter custom url without space" required>
                                                                <label for="postTitle">Title</label>
                                                                <input class="form-control" type="text" name="pTitle" placeholder="Post Title" required>
                                                                <label for="postdisc">Discription</label>
                                                                <textarea class="form-control" maxlength="150" name="pDisc" id="pdisc"
                                                                    rows="2" cols="40"></textarea>
                                                                <label for="postthumbnail">Thumbnail</label>
                                                                <input class="form-control" type="text" name="thumbnail"
                                                                    value="https://1.bp.blogspot.com/-1QbuCkPSD0o/YPAlJlLIAYI/AAAAAAAACrI/jW19tm8IzyYBdnHXxfKNzDgs_m48NqS_gCPcBGAYYCw/s0/learngraduationlogo.png"
                                                                    placeholder="Link">
                                                                <label for="postBody">Post</label>
                                                                <textarea class="form-control" name="pContent" id="pContent" rows="15" cols="2"></textarea>
                                                            </div>
                                                        
                                                            <button class=" button" type="submit" name="button">Publish</button>
                                                        </form>
                                                        <a class="button" href="../logout">Logout</a><br> <a class="button" href="../dashboard">Dashboard</a>


                                                    </div>

                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>

                    <%- include("partials/widget/mobilemenu"); -%>

                    <%- include("partials/footer"); -%>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/script.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('../sw.js');
            });
        }
    </script>
</body>

</html>